.dropdown-loggedin{
    border-radius: 10px;
    top: 80%;
    right: 0;
    width: 12rem;
    border: 1px solid var(--light-background-color);

    ul{

        li{
            color: var(--text-main-color) !important;
            border-bottom: 1px solid var(--text-gray-color);
            display: block !important;
            padding: 0.5rem;

            &:last-child{
                border-bottom: 0;
            }
        }
    }
}